
<section class='user-content'>
  {{#if showSelection}}
  <form>
    <label class="control-label">{{i18n "user.delegations.title"}}</label>
    {{user-selector
      single=true
      onChangeCallback=(action "setProxyNames")
      fullWidthWrap=false
      allowAny=false
      includeMessageableGroups=false
      placeholderKey="composer.users_placeholder"
      tabindex="1"
      usernames=delegations
      hasGroups=false
      autocomplete="discourse"
      excludeCurrentUser=true
    }}
    <div class="instructions">
      {{html-safe (i18n "user.delegations.short_instructions" username=username)}}
    </div>
  </form>

  {{else if hasProxy}}

  <div class="user-proxies">
    <h2>{{html-safe (i18n "user.delegations.title_delegation" username=username)}}</h2>

    {{#each delegationUsers as |user|}}
      {{user-info user=user}}
    {{/each}}
  </div>

  {{else}}

  <div class="user-proxies">
    {{html-safe (i18n "user.delegations.no_delegation" username=username)}}
  </div>

  {{/if}}

  {{#if anyMandates}}

  <h2>{{html-safe (i18n "user.delegations.received" username=username)}}</h2>

  <div class="mandator-users">
    {{#each mandates as |user|}}
      {{user-info user=user}}
    {{/each}}
  </div>

  {{else}}

  <div class="mandator-users empty">
    {{html-safe (i18n "user.delegations.none" username=username)}}
  </div>

  {{/if}}

</section>